<%= link_to events_path do%>
    <h1>PRIVATE EVENTS</h1>
<% end %>
<h2>Created Events</h2>
<div><%= link_to "Create an event", new_event_path %></div>
<% @created_events.each do |event| %>
    <ul>
        <li><%= event.theme %></li>
        <li><%= event.event_date %></li>
        <li><%= event.venue %></li>
        <li><%= event.description %></li>
    </ul>
    <%= link_to "Edit event", edit_event_path(event) %>
    <%= link_to "Invite", new_event_event_attending_path(event) %>
<% end %>

<h2>Attended Events</h2>
<h3>Past Events</h3>
<% current_user.attended_events.each do |event| %>
    <p><%= event.theme if event.event_date < Time.now %></p>
<% end %>

<h3>Pending Events</h3>
<% current_user.attended_events.each do |event| %>
    <p><%= event.theme if event.event_date > Time.now %></p>
<% end %>