<%= link_to events_path do%>
    <h1>PRIVATE EVENTS</h1>
<% end %>
<p><%= link_to "User profile", user_path(current_user.id) %></p>
<div><%= link_to "Created events", user_path(current_user.id) %></div>
<h2>Past Events</h2>
<% @past_events.each do |event| %>
    <ul>
        <li><%= event.theme %></li>
        <li><%= event.event_date %></li>
        <li><%= event.venue %></li>
        <li><%= event.description %></li>
    </ul>
    <p><%= link_to "Show more", event_path(event.id) %></p>
<% end %>

<h2>Pending Events</h2>
<% @pending_events.each do |event| %>
    <% if event.publicized? || event.attendees.include?(current_user) %>
    <ul>
        <li><%= event.theme %></li>
        <li><%= event.event_date %></li>
        <li><%= event.venue %></li>
        <li><%= event.description %></li>
    </ul>
    <p><%= link_to "Show more", event_path(event.id) %></p>
    <% end %>
<% end %>