<h1>PRIVATE EVENTS</h1>
<div><%= link_to "Created events", user_path(current_user.id) %></div>
<% @events.each do |event| %>
    <ul>
        <li><%= event.theme %></li>
        <li><%= event.event_date %></li>
        <li><%= event.venue %></li>
        <li><%= event.description %></li>
    </ul>
    <p><%= link_to "Show more", event_path(event.id) %></p>
<% end %>