<%= link_to events_path do%>
    <h1>PRIVATE EVENTS</h1>
<% end %>
<ul>
    <li><%= @event.theme %></li>
    <li><%= @event.event_date %></li>
    <li><%= @event.venue %></li>
    <li><%= @event.venue %></li>
</ul>
<div><%= button_to "Attend event", event_event_attendings_path(@event), method: :post %></div>

<h2>Attendees</h2>
<% @event.attendees.each do |attendee| %>
    <p><%= attendee.email %></p>
<% end %>