<%= link_to events_path do%>
    <h1>PRIVATE EVENTS</h1>
<% end %>
<ul>
    <li><%= @event.theme %></li>
    <li><%= @event.event_date %></li>
    <li><%= @event.venue %></li>
    <li><%= @event.venue %></li>
    <li><%= @event.status %></li>
    <%= link_to "Edit event", edit_event_path(@event) if current_user == @event.creator%>
</ul>
<% unless @event.creator == current_user %>
<div><%= button_to "Attend event",  event_event_attending_path(@event, response: 1), method: :patch %>
<%= button_to "Decline invitation",  event_event_attending_path(@event, response: 0), method: :patch %></div>
<% end %>

<h2>Attendees</h2>
<% @attendings.each do |attendee| %>
    <p><%= User.find(attendee.event_attendee_id).email %></p>
<% end %>